
body {
  background-image: url(Assets/slotsbkg.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: black;
}
#slotMachine {
  background-image: url(Assets/slotmachine.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  background-color: rgb(76, 70, 70);
  border-radius: 5vmin;
  width: 369px;
  height: 495px;
  margin: auto;
  padding-top: 60px;
  gap: 37px;
  border: orange;
  border-radius: 50px;
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 48px;
  background-color: lightcyan;
  
}

.winLane {
  background-color: crimson;
}

#buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-290px);
}
#spinButton, #resetButton {
  border-radius: 50%;
  font-size: 24px;
  background-color: #e2a710;
  padding: 32px 16px;
  transition-duration: 0.4s;
  color: white;
  margin: 20px;
}
#spinButton:hover, #resetButton:hover {
  background-color: #04AA6D; 
  color: white;
}

#scorecount {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(/Assets/Reels\ and\ Feels.png);
  background-size: cover;
  background-position: center;
  
}

.door {
  /* Set to inline-block or flex, depending on your layout */
  display: inline-block; 
  overflow: hidden; /* Essential for the animation */
  /* Add any additional styling needed to match your slot size */
  width: 50px; /* Example size, adjust as needed */
  height: 150px; /* Example size, adjust as needed */
  margin: 5px; /* Adjust based on your layout */
}

/* Adjusted styles for .boxes (previously .square) */
.boxes {
  transition: transform 1s ease-in-out;
}


@keyframes fadeInOut {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
  }
  .element-to-fade{
    animation-name: fadeInOut;
    animation-duration: 1.5s;
    animation-iteration-count: 2;
  }


