* {
  border: black solid 1px;
}

#slotMachine {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: lightgrey;
  border-radius: 5vmin;
  width: 200px;
  height: 200px;
  margin: auto
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 48px;
  background-color: lightcyan;
  
}

#buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

#scorecount {
  display: flex;
  flex-direction: column;
  align-items: center;
}